/* https://docs.amplify.aws/ui/customization/theming/q/framework/react */
:root {
    --amplify-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    --amplify-primary-color: #C42126;
    --amplify-primary-tint: #ff363c;
    --amplify-primary-shade: #821114;
}

amplify-authenticator, .amplify-authenticator {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    margin-top: -64px;
    height: calc(100vh - 64px);
    background-color: #ebebeb;
    padding: 32px;
}